* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  height: 65px;
  width: 100%;
  background-color:#1e87f0 ;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 30px;
}

.header .logo a{
  color: white;
  font-size: 30px;
  margin: 50px;
  font-weight: 600;
  text-decoration: none;
}

.header ul {
  display: inline-flex;
  list-style: none;
  margin-right: 200px;
}

.header ul li {
  margin-left: 3em;
  padding: 0.5em;
  
}

.header ul li a {
  color: white;
  text-decoration: none;
}

.header .help a {
  color: white;
  text-decoration: none;
  display: flex;
  
  margin-right: 7rem;
}

.sub-menu-1{
  border-radius: 0%;
}